@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #edf2f8;
}
.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.boxContainer{
  width: 60%;
  height: 50vh;
  display: flex;
  border-radius:20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
  font-family: 'Manrope';
}
.Drawers{
  border-radius: 20px;
  padding-right: 20px;
  width: 50%;
}
.paragraph1{
  color: #394450;
  font-weight: 600;
  font-size: 1.9em;
  margin: 1em;
}
.paragraph2{
  font-weight: 200;
  margin: 1em;
  font-size: 1.3em;
  margin-left: 1.4em;
  width: 90%;
}
.avatarImg{
  border-radius: 100%;
  width: 4em;
  height: 4em;
  margin-left: 1.4em;
  margin-top: 1.4em;
  align-self: center;
  justify-self: center;
}
.imgContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.TextinImgContainer{
  align-self: center;
  margin: 1em;
  margin-top: 2em;
}
.Sharebtn{
  border-radius: 100%;
  background-color: #e5eaf3;
  border: none;
  width: 5em;
  height: 5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
  padding: 5px;
  margin-top: 1.5em;
  margin: auto auto;
  padding-right: 0;
  margin-right: 2em;
}
.text{
  position: relative;
  width: 100%;
}
.shareIcon{
  width: 2em;
}
@media only screen and (max-width: 600px) {
  .boxContainer{
   flex-direction: column;
   height: auto;
   width: 95%;
  }
  .Drawers{
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }
}
@media only screen and (max-height: 1400px) and (max-width: 1100px){
  .boxContainer{
    height: auto;
    width: auto;
  }
}
@media only screen and (max-height: 1100px) and (max-width: 1400px){
  .boxContainer{
    height: auto;
    width: auto;
  }
}