@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #edf2f8;
}
.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.boxContainer{
  width: 60%;
  height: 50vh;
  display: flex;
  border-radius:20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
  font-family: 'Manrope';
}
.Drawers{
  border-radius: 20px;
  padding-right: 20px;
  width: 50%;
}
.paragraph1{
  color: #394450;
  font-weight: 600;
  font-size: 1.9em;
  margin: 1em;
}
.paragraph2{
  font-weight: 200;
  margin: 1em;
  font-size: 1.3em;
  margin-left: 1.4em;
  width: 90%;
}
.avatarImg{
  border-radius: 100%;
  width: 4em;
  height: 4em;
  margin-left: 1.4em;
  margin-top: 1.4em;
  align-self: center;
  justify-self: center;
}
.imgContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: 2em;
}
.TextinImgContainer{
  align-self: center;
  margin: 1em;
  margin-top: 2em;
}
.Sharebtn{
  border-radius: 100%;
  background-color: #e5eaf3;
  border: none;
  width: 5em;
  height: 5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
  padding: 5px;
  margin-top: 1.5em;
  margin: auto auto;
  padding-right: 0;
  margin-right: 2em;
}
.text{
  position: relative;
  width: 100%;
}
.shareIcon{
  width: 2em;
}
.SharePopup{
  display: flex;
  background-color: #49556b;
  border-radius: 20px;
  font-family: 'Manrope';
  color: #95a4b9;
  width: auto;
  height: auto;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  position: absolute;
  bottom: 9em;
  right: -8em;
}
.hideShare{
  display: none;
}
.SharePopup::after {
  content: "";
  position: absolute;
  bottom: -60%; /* Adjust for proper positioning */
  left: 50%;
  transform: translateX(-50%);
  border-width: 25px;
  border-style: solid;
  border-color: #3e4a5a transparent transparent transparent;
}
.Sharetext{
  letter-spacing: 0.5em;
  margin-right: 1em;
  align-self: center;
}
.iconSocial{
  margin-left: 2em;
  width: 2em;
}
.Sharebtn:active{
  background-color: #6e7e97;
  color: white;
}
@media only screen and (max-width: 600px) {
  .boxContainer{
   flex-direction: column;
   height: auto;
   width: 95%;
  }
  .Drawers{
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }
  .SharePopup{
    display: block;
    left: 0;
    bottom: auto;
    position: absolute;
    z-index: 9;
    border-radius: 0 0 20px 20px;
    bottom: -0.3em;
    width: inherit;
  }
  .imgContainer{
    position: relative;
    bottom: -0.3em;
  }
  .TextinImgContainer{
    margin: 0;
    z-index: 0;
  }
  .avatarImg{
    margin-bottom: 1em;
    margin-right: 0.5em;
  }
  .Sharebtn{
    z-index: 10;
  }
  .iconSocial{
    margin-left: 1em;
  }
  .SharePopup::after {
    display: none;
  }
}
@media only screen and (max-height: 1400px) and (max-width: 1100px){
  .boxContainer{
    height: auto;
    width: auto;
  }
}
@media only screen and (max-height: 1100px) and (max-width: 1400px){
  .boxContainer{
    height: auto;
    width: auto;
  }
}